.card{
    position: absolute;
    width: 480px;
    height: 256px;
    left: 380px;
    top: 688px;
    
    } 
    
     
    
    /* Card */
    
     
    .card{
    position: absolute;
    left: 380px;
    right: 580px;
    top: 688px;
    bottom: 80px;
    
     
    
    background: black;
    border-radius: 20px;
    }
    .card-title {
      font-size: 18px;
      margin-bottom: 10px;
    }
    
    .pie-chart-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }